 <html>
        <head>
            <title>Anthony's blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Anthony's Blog</a></h1>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My first post</a></h2>
                <p>Dark souls 3.Wanna play, but complurtern too low for this god's shit</p>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My second post</a></h2>
                <p>Тваю мамку ипал ))))000000))))</p>
            </div>
        </body>
    </html>
